.overAll-hide{
  filter: blur(3px) grayscale(1) opacity(0.5);  
}

.header{
  grid-area: header;
  text-align: center;
  margin-bottom: 25px;
}
.sectionTitle {
  border-bottom: 1px solid #000;
  text-align: center;
}
.name{
  grid-area: name;
  border: 1px solid #000;
}
.name li{
  cursor: pointer;
}
.image{
  grid-area: image;
  border: 1px solid #000;
  text-align: center;
}
.image img, .imageDetails img{
  width: 100%;
  height: auto;
}
.image img{
  max-width: 200px;
}
.actions{
  grid-area: actions;
  border: 1px solid #000;
  text-align: center;
}
.actions button img{
  width: 100%;
  height: auto;
  max-width: 50px;
  cursor: pointer;
}
.actions button{
  margin-top: 20px;
}

.Card{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  z-index: 50;
  
}
.details .title{
  grid-area: title;
}
.details .close{
  grid-area: close;
}
.details .imageDetails{
  grid-area: imageDetails;
}

.details-show{
  display: grid;
}

.details .abilities{
  text-align: left;
  padding-left: 5%;
  grid-area: abilities;
}


form input{
  margin-left: 10px;
}
input[type="submit"]{
  margin-right: 10px;
}
span.close {
  margin-top: 25px;
  cursor: pointer;
}